<div id="<%= dom_id creator %>">
  <p>
    <strong>Firstname:</strong>
    <%= creator.firstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= creator.lastName %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= creator.birthday %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= creator.gender %>
  </p>

  <p>
    <strong>Styledesc:</strong>
    <%= creator.styleDesc %>
  </p>

  <p>
    <strong>Approved:</strong>
    <%= creator.approved %>
  </p>

</div>
