<%= stylesheet_link_tag "guardaroba"%>
<%= stylesheet_link_tag "common"%>

<div class="testo-centrato">
<div id="box2">
<%= form_with(model: creator ,url:creators_new_path)  do |form| %>
  <% if creator.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(creator.errors.count, "error") %> prohibited this creator from being saved:</h2>

      <ul>
        <% creator.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :firstName, class:"form-label"%>&nbsp;
    <%= form.text_field :firstName, class:"form-control"%>
  </div>
  <br>
  <div>
    <%= form.label :lastName, class:"form-label"%>&nbsp;
    <%= form.text_field :lastName, class:"form-control"%>
  </div>
  <br>
  <div>
    <%= form.label :birthday, class:"form-label"%>&nbsp;
    <%= form.date_field :birthday, class:"form-control"%>
  </div>
  <br>
  <div>
    <%= form.label :gender%>&nbsp;&nbsp;
    <%= form.radio_button :gender, "M" %>
    <%= form.label :"M" ,"M"%>&nbsp;&nbsp;
    <%= form.radio_button :gender, "F" %>
    <%= form.label :F ,"F"%>&nbsp;&nbsp;
    <%= form.radio_button :gender, "O" %>
    <%= form.label :O ,"Other"%>
  </div>
  <br>
  <div>
    <%= form.label :"Describe your style", class:"form-label"%>&nbsp;
    <%= form.text_area :message, size: "30x3", class:"form-control"%>
  </div>
  <br>

  <!--
  <div>
    <%= form.label :approved, style: "display: block" %>
    <%= form.check_box :approved %>
  </div>
  -->

  <div class="testo-centrato">
    <%= form.submit %>
  </div>
<% end %>
</div>
</div>
