<html>



<body>
    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Style -->
    <%= stylesheet_link_tag "common.css"%>
    <%= stylesheet_link_tag "guardaroba.css"%>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <% if user_signed_in?%>
                    <a href="<%=root_path%>">Home</a>
                <%end%>
            </ul>

            <% if user_signed_in? %>            <!-- IF logged show profile pic ELSE login button -->
                
                <% if current_user.avatar.attached? %>
                    <div class ="profile-pic">
                        <div class = "dropdown">
                            <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                <% if @user.avatar.attached? %>
                                    <img data-enlargable class = "avatar" src="<%=(url_for(current_user.avatar))%>">
                                <%else%>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                                <%end%>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end">
                                <%- if !current_user.admin? %>
                                    <li><a class="dropdown-item" href="<%=guardarobas_path(current_user.id)%>">Wardrobe</a></li>
                                    <li><a class="dropdown-item" href="#">Show Profile</a></li>
                                    <li><a class="dropdown-item" href="<%=users_personalInfo_path%>">Avatar</a></li>
                                <%end%>
                                <%- if current_user.admin? %>
                                    <li><a class="dropdown-item" href="<%=admin_path(current_user.id)%>">Manage Accounts</a></li>
                                <%end%>
                                <li><%= link_to 'Log Out', destroy_user_session_path,data: {turbo_method: :delete}, class:"dropdown-item"%></li>
                            </ul>
                        </div>
                    </div>
                <%else%>
                    <div class = "profile-pic">
                        <div class ="dropdown">
                            <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end">
                                <%- if !current_user.admin? %>
                                    <li><a class="dropdown-item" href="<%=guardarobas_path(current_user.id)%>">Wardrobe</a></li>
                                    <li><a class="dropdown-item" href="#">Show Profile</a></li> 
                                    <li><a class="dropdown-item" href="<%=users_personalInfo_path%>">Avatar</a></li>
                                <%end%>
                                <%- if current_user.admin? %>
                                    <li><a class="dropdown-item" href="<%=admin_path(current_user.id)%>">Manage Accounts</a></li>
                                <%end%>
                                <li><%= link_to 'Log Out', destroy_user_session_path,data: {turbo_method: :delete}, class:"dropdown-item"%></li>
                            </ul>

                        </div>
                    </div>
                <%end%>
            <%else%>
                <a href="<%=new_user_session_path%>">
                    <button class = "btn btn-light login-btn">Login</button>
                </a>
            <%end%>

            <a href="<%=search_path%>" class = "search-btn">     <!-- Da rivedere -->
                <button class = "btn btn-light ">Search...
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </a>

            
        </div>
    </nav>


</body>
</html>


<div class="container">
  <div class="row justify-content-around">
    <div class="col-4">
<br>
<h1>Manage creators</h1>
<br>

<div id="creators">
  <% @creators.each do |creator| %>
    <% if creator.approved == true %>
    <%= render creator %>
      <table><tr><td><%= button_to "Remove", creator, method: :delete, class: "btn btn-warning" %></td><tr></table>
    <% end %>
    <br>
    <br>
  <% end %> 
  <h2>New creators requests</h2>
  <% @creators.each do |creator| %>
    <% if creator.approved == nil %>
    <%= render creator %>
      <table><tr><td><%= button_to "Accept", creator, method: :accept, class: "btn btn-success" %></td><td><%= button_to "Decline", creator, method: :delete,  class: "btn btn-danger"%></td></tr></table>
    <% end %>
    <br>
   <% end %> 
</div>
</div>

<div class="col-4">
<br>
<h1>Manage outfits</h1>
<br>
<div class = "outfits">
    <table>
    <% @outfits.each do |outfit|%>
        <tr><td><%=link_to "#{outfit.name} by #{User.where(creator_id: outfit.creator_id)[0].username}", show_outfit_path(outfit.id)%>&nbsp;&nbsp;&nbsp;</td><td><%= button_to "Remove", show_outfit_path(outfit.id), method: :delete, class: "btn btn-warning" %></td></tr>
    <%end%>
    </table>
</div>
<br>
<br>

<h1>Manage reports</h1>
<br>
<div id="reports">
    <% @reports.each_with_index do |report,index|%>
         <h5>Report from: <%= "#{User.where(id: report.user_id)[0].username}" %></h5>
         <h5>Creator: <%=link_to "#{User.where(creator_id: report.creator_id)[0].username}", creator_path(report.creator_id)%></h5>
         <h5>Description: <%= "#{report.description}" %></h5>
         <table><tr><td><button  data-toggle="modal" data-target="#modalRep<%=index.to_s%>" class = "btn btn-success">Accept</button></td><td><%= button_to "Decline", report_path(report.id), method: :delete, class: 'btn btn-danger'%></td><tr></table>
         <br>
         <br>

         <!--Report Modal -->
<div class="modal fade" id="modalRep<%=index.to_s%>" tabindex="-1" role="dialog" aria-labelledby="modalRepTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRepTitle">Report</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the creator <b><%="#{User.where(creator_id: report.creator_id)[0].username}"%></b>?
      </div>
      <div class="modal-footer">
        <%= button_to "Yes", Creator.where(id: report.creator_id)[0], method: :delete, class: "btn btn-secondary"%>
        <button type="button" class="btn btn-primary" id = "report-btn">No</button>
      </div>
    </div>
  </div>
</div>
    <%end%>
</div>
</div>
</div>
</div>



