<p style="color: green"><%= notice %></p>

<%= render @guardaroba %>

<div>
  <%= link_to "Edit this guardaroba", edit_guardaroba_path(@guardaroba) %> |
  <%= link_to "Back to guardarobas", guardarobas_path %>

  <%= button_to "Destroy this guardaroba", @guardaroba, method: :delete %>
</div>
