<%= stylesheet_link_tag "form.css"%>

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 text-center" style="border: 2px solid green; padding: 50px; border-radius: 100px 20px;">
              <h2 class="fw-bold mb-2 text-uppercase"><span>Forgot your password? </span></h2>
              <p class="lead fw-normal mb-3">Please enter your email!</p>
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "users/shared/error_messages", resource: resource %>
                  <div class="wrap-input100 validate-input m-b-20 alert-validate">
                    <div class="form-outline form-dark mb-4">
                    <i class="bi bi-envelope"></i>
                      <span style="font-family: Optima">
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", :class =>"form-control form-control-lg"%>
                      </span>
                    </div>
                  </div>

                <div class="actions">
                  <span style="font-family: Optima">
                    <%= f.submit "Send me reset password instructions", :class => "btn btn-success", :method => :get %>
                  </span>
                </div>
              <% end %>

              <hr class="my-4">

              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <div class="links">
                <span style="font-family: Optima">
                  <%= render "users/shared/links" %>
                  </span>
                </div>
              </div>
      </div>
    </div>
  </div>
</section>



