<%= form_with(model: capo) do |form| %>
  <% if capo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(capo.errors.count, "error") %> prohibited this capo from being saved:</h2>

      <ul>
        <% capo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :immagine, style: "display: block" %>
    <%= form.text_field :immagine %>
  </div>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :descrizione, style: "display: block" %>
    <%= form.text_field :descrizione %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
