<p style="color: green"><%= notice %></p>

<h1>Items</h1>

<%= search_form_for(@q, url: capos_path,method: :get) do |form| %>
  <%= form.search_field :nome_cont ,placeholder: "Search name..." %>
  <br>
  <%= form.search_field :categoria_cont ,placeholder: "Search category..." %>
  <br>
  <%= form.submit "Search!" %>
<% end %>

<br>
<div id="capos">
  <% @capos.each do |capo| %>
    <table>
    <tr class="<%= ('new' unless capo.categoria =~ /New in/)%>"><td><br><p><%= image_tag(capo.immagine, size: "130") %></p></td><td><%=capo.nome%><br/><br/><%=link_to "Acquista su #{capo.sito}", capo.descrizione%><br/><br/><%= button_to 'Add to your wardrobe', guardarobas_path, :params => {:id => capo.id} %></td></tr>
    </table>
  <% end %>
</div>

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<%= javascript_include_tag 'new_list_filter' %>
