<!-- Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!--Style -->
<%= stylesheet_link_tag "outfit/show"%>


<!-- My Script -->
<%= javascript_include_tag "utils" %>


<!-- Navbar -->
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="<%= root_path%>">Home</a>
      </li>

    </ul>
  </div>
</nav>

<div class = "header"> <!-- Contains creators profile picture and outfit's name -->

    <div class ="profile-pic">
        <a href="<%=creator_path(@creator.id)%>"><img class ="avatar" src="<%=(url_for(@user.avatar))%>"></a>
    </div>

    <h1>Outfit '<%=@outfit.name%>' by <%=@user.username%></h1>
</div>


<div class = "outfit">
     <% @capos.each do |capo|%>
        <div class = "capo">

            <div class = "capo-pic">
                <%= image_tag(capo.immagine, size: "130",class: "capo-img") %>
            </div>

            <div class = "capo-info">
                <p class = "capo-name"><%=capo.nome%></p>
                <p class = "shop-link"><%=link_to "Buy on #{capo.sito}", capo.descrizione%></p>
            </div>
        </div>
     <%end%>
</div>