


<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <!-- Email input -->
          <div class="form-outline mb-4">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", :class =>"form-control form-control-lg" %>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
          <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password", :class =>"form-control form-control-lg" %>
          </div>

          <% if devise_mapping.rememberable? %>
                    <div class="field">
                      <div class='child'><%= f.check_box :remember_me %></div>
                      <div class='child'><%= f.label :remember_me %></div>
                    </div>
          <% end %>

                <div class="actions">
                    <%= f.submit "Log in", :class => "btn btn-success", :method => :get %>
                </div>
              <% end %>

              <hr class="my-4">

              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <div class="links">
                  <%= render "users/shared/links" %>
                </div>
              </div>
      </div>
    </div>
  </div>
</section>